
@{

    Layout = "~/Views/Shared/_PartnerLayout.cshtml";
}

<style>
  

    #home-tab, #profile-tab {
        background-color: #eaeaea;
    }
</style>
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Plans</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/client/dashboard"><i class="fas fa-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item active">Plans</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                    
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="card card-outline card-info">
                                    <div class="card-header border-transparent">
                                        <h3 class="card-title">Monthly Return Plan - MRP</h3>
                                        @*<div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>*@
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table id="example1" class="table" style="margin: 0px">
                                                <thead style="text-align:center">
                                                    <tr>
                                                        <th>Plan ID</th>
                                                        <th colspan="2">Deposit amount</th>
                                                        <th>Monthly Profit</th>
                                                        <th>Locking Period</th>
                                                        <th colspan="2">Client commission</th>
                                                        <th>Rewards</th>
                                                        <th>Action</th>

                                                    </tr>
                                                    <tr>
                                                        <th></th>
                                                        <th>Minimum</th>
                                                        <th>Maximum</th>
                                                        <th></th>
                                                        <th></th>
                                                        <th>MPP Plan</th>
                                                        <th>MEP Plan</th>
                                                        <th>BGC Token</th>
                                                        <th></th>

                                                    </tr>
                                                </thead>
                                                <tbody style="text-align:center">
                                                    <tr>
                                                        <td class="text-blue text-bold ">
                                                            MRP5
                                                        </td>
                                                        <td>500</td>

                                                        <td>2500</td>
                                                        <td>5%</td>

                                                        <td>30 Days</td>
                                                        <td>1.00%</td>
                                                        <td>3.00%</td>
                                                        <td>1.00%</td>
                                                        <td> <button type="submit" class="btn btn-sm bg-indigo-300 text-white">Invest</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-blue text-bold">
                                                            MRP6
                                                        </td>
                                                        <td>
                                                            2501
                                                        </td>
                                                        <td>
                                                            5000
                                                        </td>
                                                        <td>6%</td>

                                                        <td>30 Days</td>
                                                        <td>1.25%</td>
                                                        <td>4.00%</td>
                                                        <td>1.25%</td>
                                                        <td> <button type="submit" class="btn btn-sm bg-indigo-300 text-white">Invest</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-blue text-bold">
                                                            MRP7
                                                        </td>
                                                        <td>
                                                            5001
                                                        </td>
                                                        <td>
                                                            10000
                                                        </td>
                                                        <td>7%</td>

                                                        <td>30 Days</td>
                                                        <td>1.50%</td>
                                                        <td>5.00%</td>
                                                        <td>1.50%</td>
                                                        <td> <button type="submit" class="btn btn-sm bg-indigo-300 text-white">Invest</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-blue text-bold">
                                                            MRP8
                                                        </td>
                                                        <td>
                                                            10001
                                                        </td>
                                                        <td>
                                                            15000
                                                        </td>
                                                        <td>8%</td>

                                                        <td>30 Days</td>
                                                        <td>1.75%</td>
                                                        <td>6.00%</td>
                                                        <td>1.75%</td>
                                                        <td> <button type="submit" class="btn btn-sm bg-indigo-300 text-white">Invest</button></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-blue text-bold">
                                                            MRP9
                                                        </td>
                                                        <td>
                                                            15001
                                                        </td>
                                                        <td>
                                                            20000
                                                        </td>
                                                        <td>9%</td>

                                                        <td>30 Days</td>
                                                        <td>2.00%</td>
                                                        <td>7.00%</td>
                                                        <td>2.00%</td>
                                                        <td> <button type="submit" class="btn btn-sm bg-indigo-300 text-white">Invest</button></td>
                                                    </tr>

                                                </tbody>

                                            </table>

                                        </div>
                                    </div>


                                    <!-- /.card-body -->
                                </div>
                            </div>
                        </div>
                        
                        @await Html.PartialAsync("_Terms")
                    </div>
                    @await Html.PartialAsync("_PartnerProfile")

                </div><!--/. container-fluid -->
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
