<style>
    .nav-link.active {
        color: white !important;
        background-color: #6c757d !important;
    }

    @@media (min-width: 768px) {
        #loginbox {
            width: 375px;
        }

        .container {
            margin-top: 43%;
        }
    }

    @@media (min-width: 768px) and (orientation:landscape) {
        #loginbox {
            width: 375px;
        }

        .container {
            margin-top: 20%;
        }
    }

    @@media (max-width: 767px) {

        .container {
            margin-top: 25%;
        }
    }

    @@media (max-width: 767px)and (orientation:landscape) {

        .container {
            margin-top: 0%;
            width: 300px !important;
        }
    }

    @@media (min-width: 1100px) {

        .container {
            margin-top: 15%;
        }

        #loginbox {
            width: 480px;
        }
    }
</style>
<div class="row" id="loginbox" style="margin:0 auto;">
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissible" id="loginbox" style="margin:0 auto;">

            <h5><i class="icon fas fa-check"></i>Forgot password confirmation</h5>
            Please check your email to reset your password.

        </div>
    </div>
    <div class="col-md-12">
        <a href="/account/login" type="button" class="btn btn-secondary float-right mt-2">Back to Login</a>

    </div>
    </div>

   
   