@model ChangePasswordViewModel
@{
    var u = Convert.ToString(ViewData["layout"]).ToLower();
    var z = "";
    if(u =="admin")
    {
        Layout= "~/Views/Shared/_AdminLayout.cshtml";z = "_AdminProfile";
    }
    else if (u == "investor")
    {
        Layout = "~/Views/Shared/_InvestorLayout.cshtml"; z = "_InvestorProfile";
    }
    else if (u == "partner")
    {
        Layout = "~/Views/Shared/_PartnerLayout.cshtml"; z = "_PartnerProfile";
    }
    else if (u == "client")
    {
        Layout = "~/Views/Shared/_ClientLayout.cshtml"; z = "_ClientProfile";
    }
    else
    {

    }


}

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Change Password</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/@u/dashboard"><i class="fas fa-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item active">Change Password</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card card-outline card-info">
                            <!-- /.card-header -->
                            <div class="card-body row">
                                @Html.Partial("_StatusMessage", Model.StatusMessage)
                            
                                    <div class="col-md-12">
                                        <form method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="OldPassword"></label>
                                                <input asp-for="OldPassword" class="form-control" />
                                                <span asp-validation-for="OldPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="NewPassword"></label>
                                                <input asp-for="NewPassword" class="form-control" />
                                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ConfirmPassword"></label>
                                                <input asp-for="ConfirmPassword" class="form-control" />
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                            <button type="submit" class="btn bg-indigo-300 text-white">Update password</button>
                                        </form>
                                    </div>
                               

                            </div>
                        </div>


                        
                    </div>
                    @await Html.PartialAsync(@z)

                </div><!--/. container-fluid -->


            </div>
        </section>
        <!-- /.content -->
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
