@model Bint.Models.AccountViewModels.RegisterViewModel
@inject RoleManager<IdentityRole> _roleManager
@inject UserManager<ApplicationUser> _userManager
<a href="#" class="btn btn-info" id="btncreateuser" data-toggle="modal" data-target="#modal-default">Quick User Create</a>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create User</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="register" asp-controller="account" asp-route-returnurl="@ViewBag.ReturnUrl" asp-route-quick="true">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label asp-for="Mobile"></label>
                        <input asp-for="Mobile" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label>Role</label> <select asp-for="UpiId" id="dlrole" class="form-control">
                            <option>Select</option>
                        @{
                            var currentUser = await _userManager.GetUserAsync(User);
                            var role = _userManager.GetRolesAsync(currentUser).Result;
                            if (role[0].ToString() == "Admin")
                            {
                                var f = await _roleManager.FindByNameAsync("Investor");
                                <option value="@f.Id">Investor</option>
                            }
                            else if(role[0].ToString() == "Investor")
                            {
                                var f = await _roleManager.FindByNameAsync("Partner");
                                    <option value="@f.Id">Partner</option>
                            }
                            else if(role[0].ToString() == "Partner")
                            {
                                var f = await _roleManager.FindByNameAsync("Client");
                                <option value="@f.Id">Client</option>
                            }
                            else
                            {
                                
                            }
                          }
                            @*@foreach (var g in _roleManager.Roles)
                            {
                               
                            }*@
                        </select>
                    </div>
                    <button id="btnp" type="submit" class="btn btn-success">Create</button><button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                </form>
            </div>

            <div class="modal-footer justify-content-between">


            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="text/javascript">

    $(document).ready(function () {

        function validation() {
            var status = false;
            if ($("#dlrole option:selected").text() == "Select") {
                status = true; toastr.error("Select role");
            }
            if ($("#Mobile").val() == "") {
                status = true; toastr.error("Mobile number required");
            }
            if ($("#ConfirmPassword").val() != $("#Password").val()) {
                status = true; toastr.error("Password and confirm password mismatch");
            }
            if ($("#ConfirmPassword").val() == "") {
                status = true; toastr.error("Confirm password required");
            }
            if ($("#Password").val() == "") {
                status = true; toastr.error("Password required");
            }
            if ($("#Email").val() == "") {
                status = true; toastr.error("Email required");
            }

            return status;
        }
        $("#btnp").click(function (event) {
            if (validation()) {
                event.preventDefault();
            }
            else {

            }

        });
    });
</script>
