<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 mt-10">
        <div class="callout callout-danger">
            <h5>Note</h5>
            <ol>
                <li>Transfer & Request are one time action</li>

            </ol>
        </div>
    </div>
</div>